# **Hpothesis Testing**

# **Imports**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly


#Sklearn preprocessing
from sklearn import preprocessing,set_config
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder,StandardScaler,LabelEncoder

#Scipy
from scipy import stats
from scipy.stats import norm, pearsonr
import statsmodels.api as sm

# Warnings 
import warnings 
warnings.filterwarnings("ignore")

# Configuring diagrams
set_config(display = 'diagram')

# **Loading The Data**

In [2]:
# Loading the NYC Restaurant Data 
rd = pd.read_csv('rd')

In [3]:
# Loading the Yelp Data for NYC Restaurant Data 
ydf = pd.read_csv('ydf')

In [4]:
# Restaurant Inspection data Check 
rd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209141 entries, 0 to 209140
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  209141 non-null  int64
 1   DBA                    208544 non-null  object
 2   BORO                   209141 non-null  object
 3   BUILDING               208824 non-null  object
 4   STREET                 209135 non-null  object
 5   ZIPCODE                206455 non-null  float64
 6   CUISINE DESCRIPTION    206702 non-null  object
 7   INSPECTION DATE        209141 non-null  object
 8   ACTION                 206702 non-null  object
 9   VIOLATION CODE         205553 non-null  object
 10  VIOLATION DESCRIPTION  205553 non-null  object
 11  CRITICAL FLAG          209141 non-null  object
 12  SCORE                  199209 non-null  float64
 13  GRADE                  102462 non-null  object
 14  GRADE DATE             93826 non-null   object
 15  INSPECTION TYPE        206702 non-null  object
 16  Latitude               208881 non-null  float64
 17  Longitude              208881 non-null  float64
 18  Council District       205918 non-null  float64
dtypes: float64(5), int64(1), object(13)
memory usage: 30.3+ MB

In [5]:
ydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848 entries, 0 to 847
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alias         848 non-null    object
 1   name          848 non-null    object
 2   image_url     848 non-null    object
 3   url           848 non-null    object
 4   review_count  848 non-null    int64
 5   categories    848 non-null    object
 6   rating        848 non-null    float64
 7   coordinates   848 non-null    object
 8   transactions  848 non-null    object
 9   location      848 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 66.4+ KB

# **Data Cleaning**

In [6]:
# Selecting subset of only restaurants from Brooklyn
brooklyndf = rd[rd['BORO'].str.lower()=='brooklyn']

In [7]:
# Selecting subset of only restaurants in Brooklyn that have pizza in the cuisine description 
pizza_brooklyn_subset = brooklyndf[(brooklyndf['CUISINE DESCRIPTION'].str.lower()=='pizza')]

In [8]:
# Filtering out rows with NAN in the 'GRADE' column
pizza_brooklyn_subset = pizza_brooklyn_subset.dropna(subset=['GRADE'])

In [9]:
# Take a look at Brooklyn pizza restaurants in inspection data
print(pizza_brooklyn_subset)

           CAMIS                                  DBA      BORO BUILDING  \
143     40574680                         PETE'S PLACE  Brooklyn     5620
205     50131915                99 CENT SUPREME PIZZA  Brooklyn      297
515     50037645                          JOE'S PIZZA  Brooklyn      216
533     41459621  GINO'S BRICK OVEN PIZZA & TRATTORIA  Brooklyn   548550
607     41273383                    LA BELLA PIZZERIA  Brooklyn     8509
...          ...                                  ...       ...      ...
208844  50099918                 JOE & SAL'S PIZZERIA  Brooklyn      353
208855  50126709                           FINI PIZZA  Brooklyn      305
208867  50035397                          DANNY PIZZA  Brooklyn     1620
208871  41196869                          LAYLA JONES  Brooklyn      214
208885  50102007               ROME TO BROOKLYN PIZZA  Brooklyn      755

                 STREET  ZIPCODE CUISINE DESCRIPTION INSPECTION DATE  \
143            1 AVENUE  11220.0               Pizza      11/13/2023
205            BROADWAY  11211.0               Pizza      09/21/2023
515      BEDFORD AVENUE  11249.0               Pizza      05/08/2023
533     FLATBUSH AVENUE      NaN               Pizza      10/13/2022
607           20 AVENUE  11214.0               Pizza      11/15/2022
...                 ...      ...                 ...             ...
208844    MYRTLE AVENUE  11205.0               Pizza      09/13/2021
208855   BEDFORD AVENUE  11211.0               Pizza      08/30/2023
208867         AVENUE M  11230.0               Pizza      06/08/2022
208871     COURT STREET  11201.0               Pizza      04/25/2022
208885     GRAND STREET  11211.0               Pizza      08/18/2021

                                                 ACTION VIOLATION CODE  \
143     Violations were cited in the following area(s).            09B
205                   Establishment re-opened by DOHMH.            NaN
515     Violations were cited in the following area(s).            02B
533     Violations were cited in the following area(s).            02B
607     Violations were cited in the following area(s).            04M
...                                                 ...            ...
208844  Violations were cited in the following area(s).            10F
208855  Violations were cited in the following area(s).            10C
208867  Violations were cited in the following area(s).            02G
208871  Violations were cited in the following area(s).            02G
208885  Violations were cited in the following area(s).            06F

                                    VIOLATION DESCRIPTION   CRITICAL FLAG  \
143                           Thawing procedure improper.    Not Critical
205                                                   NaN  Not Applicable
515        Hot TCS food item not held at or above 140 °F.        Critical
533        Hot TCS food item not held at or above 140 °F.        Critical
607     Live roaches in facility's food or non-food area.        Critical
...                                                   ...             ...
208844  Non-food contact surface improperly constructe...    Not Critical
208855  Lighting inadequate; permanent lighting not pr...    Not Critical
208867  Cold food item held above 41º F (smoked fish a...        Critical
208871  Cold food item held above 41º F (smoked fish a...        Critical
208885  Wiping cloths soiled or not stored in sanitizi...        Critical

        SCORE GRADE  GRADE DATE  \
143      10.0     A  11/13/2023
205       0.0     Z  09/21/2023
515      13.0     A  05/08/2023
533       7.0     A  10/13/2022
607      12.0     A  11/15/2022
...       ...   ...         ...
208844    9.0     A  09/13/2021
208855   10.0     A  08/30/2023
208867    9.0     A  06/08/2022
208871   11.0     A  04/25/2022
208885   12.0     A  08/18/2021

                                        INSPECTION TYPE   Latitude  Longitude  \
143               Cycle Inspection / Initial Inspection  40.646898 -74.022803
205     Pre-permit (Operational) / Reopening Inspection  40.708499 -73.958102
515               Cycle Inspection / Initial Inspection  40.716808 -73.958833
533               Cycle Inspection / Initial Inspection   0.000000   0.000000
607                    Cycle Inspection / Re-inspection  40.605075 -73.997749
...                                                 ...        ...        ...
208844         Pre-permit (Operational) / Re-inspection  40.693220 -73.972103
208855    Pre-permit (Operational) / Initial Inspection  40.713501 -73.961919
208867                 Cycle Inspection / Re-inspection  40.618127 -73.958825
208871            Cycle Inspection / Initial Inspection  40.686652 -73.993845
208885    Pre-permit (Operational) / Initial Inspection  40.711739 -73.942889

        Council District
143                 38.0
205                 34.0
515                 33.0
533                  NaN
607                 47.0
...                  ...
208844              35.0
208855              34.0
208867              44.0
208871              39.0
208885              34.0

[1583 rows x 19 columns]

In [10]:
# Making the names of the restaurants in both data sets compatable for the merge 
column_name = 'name'
ydf['name'] = ydf['name'].apply(lambda x: str(x).upper())

In [11]:
# Merging the two data sets on the names of the resaurants 
mdf = pd.merge(pizza_brooklyn_subset, ydf,left_on='DBA', right_on='name', how='inner', indicator=True)

#Display the merged dataframe
print(mdf)

        CAMIS                 DBA      BORO BUILDING          STREET  ZIPCODE  \
0    50037645         JOE'S PIZZA  Brooklyn      216  BEDFORD AVENUE  11249.0
1    50037645         JOE'S PIZZA  Brooklyn      216  BEDFORD AVENUE  11249.0
2    50037645         JOE'S PIZZA  Brooklyn      216  BEDFORD AVENUE  11249.0
3    50037645         JOE'S PIZZA  Brooklyn      216  BEDFORD AVENUE  11249.0
4    50037645         JOE'S PIZZA  Brooklyn      216  BEDFORD AVENUE  11249.0
..        ...                 ...       ...      ...             ...      ...
511  50134489  LITTLE ITALY PIZZA  Brooklyn      179  BEDFORD AVENUE  11211.0
512  50134489  LITTLE ITALY PIZZA  Brooklyn      179  BEDFORD AVENUE  11211.0
513  50134489  LITTLE ITALY PIZZA  Brooklyn      179  BEDFORD AVENUE  11211.0
514  50134489  LITTLE ITALY PIZZA  Brooklyn      179  BEDFORD AVENUE  11211.0
515  50134489  LITTLE ITALY PIZZA  Brooklyn      179  BEDFORD AVENUE  11211.0

    CUISINE DESCRIPTION INSPECTION DATE  \
0                 Pizza      05/08/2023
1                 Pizza      05/08/2023
2                 Pizza      05/08/2023
3                 Pizza      05/08/2023
4                 Pizza      05/08/2023
..                  ...             ...
511               Pizza      05/02/2023
512               Pizza      05/02/2023
513               Pizza      05/02/2023
514               Pizza      05/02/2023
515               Pizza      05/02/2023

                                              ACTION VIOLATION CODE  ...  \
0    Violations were cited in the following area(s).            02B  ...
1    Violations were cited in the following area(s).            02B  ...
2    Violations were cited in the following area(s).            02B  ...
3    Violations were cited in the following area(s).            02B  ...
4    Violations were cited in the following area(s).            02B  ...
..                                               ...            ...  ...
511                Establishment re-opened by DOHMH.            10F  ...
512                Establishment re-opened by DOHMH.            10F  ...
513                Establishment re-opened by DOHMH.            10F  ...
514                Establishment re-opened by DOHMH.            10F  ...
515                Establishment re-opened by DOHMH.            10F  ...

                   name                                          image_url  \
0           JOE'S PIZZA  https://s3-media3.fl.yelpcdn.com/bphoto/0WEXB_...
1           JOE'S PIZZA  https://s3-media4.fl.yelpcdn.com/bphoto/FluVgK...
2           JOE'S PIZZA  https://s3-media3.fl.yelpcdn.com/bphoto/FKjd9R...
3           JOE'S PIZZA  https://s3-media2.fl.yelpcdn.com/bphoto/QXu6RG...
4           JOE'S PIZZA  https://s3-media4.fl.yelpcdn.com/bphoto/sUjegc...
..                  ...                                                ...
511  LITTLE ITALY PIZZA  https://s3-media2.fl.yelpcdn.com/bphoto/J0ahsm...
512  LITTLE ITALY PIZZA  https://s3-media2.fl.yelpcdn.com/bphoto/4r3Uf8...
513  LITTLE ITALY PIZZA  https://s3-media2.fl.yelpcdn.com/bphoto/ZeN_m7...
514  LITTLE ITALY PIZZA  https://s3-media1.fl.yelpcdn.com/bphoto/EduuOf...
515  LITTLE ITALY PIZZA  https://s3-media4.fl.yelpcdn.com/bphoto/XTsso1...

                                                   url review_count  \
0    https://www.yelp.com/biz/joes-pizza-brooklyn-8...          459
1    https://www.yelp.com/biz/joes-pizza-new-york-1...         2071
2    https://www.yelp.com/biz/joes-pizza-new-york-4...         3074
3    https://www.yelp.com/biz/joes-pizza-new-york-7...         1075
4    https://www.yelp.com/biz/joes-pizza-new-york-1...          517
..                                                 ...          ...
511  https://www.yelp.com/biz/little-italy-pizza-ne...           91
512  https://www.yelp.com/biz/little-italy-pizza-ne...          111
513  https://www.yelp.com/biz/little-italy-pizza-ne...          474
514  https://www.yelp.com/biz/little-italy-pizza-ne...          136
515  https://www.yelp.com/biz/little-italy-pizza-ne...          312

                                            categories rating  \
0               [{'alias': 'pizza', 'title': 'Pizza'}]    4.0
1               [{'alias': 'pizza', 'title': 'Pizza'}]    4.0
2               [{'alias': 'pizza', 'title': 'Pizza'}]    4.0
3               [{'alias': 'pizza', 'title': 'Pizza'}]    4.0
4               [{'alias': 'pizza', 'title': 'Pizza'}]    4.0
..                                                 ...    ...
511  [{'alias': 'pizza', 'title': 'Pizza'}, {'alias...    3.5
512  [{'alias': 'pizza', 'title': 'Pizza'}, {'alias...    3.5
513  [{'alias': 'pizza', 'title': 'Pizza'}, {'alias...    3.5
514  [{'alias': 'pizza', 'title': 'Pizza'}, {'alias...    3.5
515  [{'alias': 'pizza', 'title': 'Pizza'}, {'alias...    3.5

                                           coordinates  \
0    {'latitude': 40.7168952, 'longitude': -73.9589...
1        {'latitude': 40.7547, 'longitude': -73.98696}
2    {'latitude': 40.73060076, 'longitude': -74.002...
3       {'latitude': 40.73331, 'longitude': -73.98763}
4    {'latitude': 40.7101297729083, 'longitude': -7...
..                                                 ...
511  {'latitude': 40.7605713, 'longitude': -73.9674...
512  {'latitude': 40.74047547591752, 'longitude': -...
513  {'latitude': 40.74766471982, 'longitude': -73....
514  {'latitude': 40.7347831726074, 'longitude': -7...
515  {'latitude': 40.7778264823318, 'longitude': -7...

               transactions  \
0    ['delivery', 'pickup']
1    ['delivery', 'pickup']
2              ['delivery']
3    ['delivery', 'pickup']
4    ['delivery', 'pickup']
..                      ...
511  ['delivery', 'pickup']
512  ['pickup', 'delivery']
513  ['pickup', 'delivery']
514  ['pickup', 'delivery']
515  ['pickup', 'delivery']

                                              location _merge
0    {'address1': '216 Bedford Ave', 'address2': ''...   both
1    {'address1': '1435 Broadway', 'address2': '', ...   both
2    {'address1': '7 Carmine St', 'address2': '', '...   both
3    {'address1': '150 E 14th St', 'address2': '', ...   both
4    {'address1': '124 Fulton St', 'address2': '', ...   both
..                                                 ...    ...
511  {'address1': '958 3rd Ave', 'address2': None, ...   both
512  {'address1': '34 East 23rd St', 'address2': ''...   both
513  {'address1': '2 E 33rd St', 'address2': '', 'a...   both
514  {'address1': '122 University Pl', 'address2': ...   both
515  {'address1': '2047 Broadway', 'address2': '', ...   both

[516 rows x 30 columns]

In [12]:
mdf.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,...,name,image_url,url,review_count,categories,rating,coordinates,transactions,location,_merge
0,50037645,JOE'S PIZZA,Brooklyn,216,BEDFORD AVENUE,11249.0,Pizza,05/08/2023,Violations were cited in the following area(s).,02B,...,JOE'S PIZZA,https://s3-media3.fl.yelpcdn.com/bphoto/0WEXB_...,https://www.yelp.com/biz/joes-pizza-brooklyn-8...,459,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.7168952, 'longitude': -73.9589...","['delivery', 'pickup']","{'address1': '216 Bedford Ave', 'address2': ''...",both
1,50037645,JOE'S PIZZA,Brooklyn,216,BEDFORD AVENUE,11249.0,Pizza,05/08/2023,Violations were cited in the following area(s).,02B,...,JOE'S PIZZA,https://s3-media4.fl.yelpcdn.com/bphoto/FluVgK...,https://www.yelp.com/biz/joes-pizza-new-york-1...,2071,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.7547, 'longitude': -73.98696}","['delivery', 'pickup']","{'address1': '1435 Broadway', 'address2': '', ...",both
2,50037645,JOE'S PIZZA,Brooklyn,216,BEDFORD AVENUE,11249.0,Pizza,05/08/2023,Violations were cited in the following area(s).,02B,...,JOE'S PIZZA,https://s3-media3.fl.yelpcdn.com/bphoto/FKjd9R...,https://www.yelp.com/biz/joes-pizza-new-york-4...,3074,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.73060076, 'longitude': -74.002...",['delivery'],"{'address1': '7 Carmine St', 'address2': '', '...",both
3,50037645,JOE'S PIZZA,Brooklyn,216,BEDFORD AVENUE,11249.0,Pizza,05/08/2023,Violations were cited in the following area(s).,02B,...,JOE'S PIZZA,https://s3-media2.fl.yelpcdn.com/bphoto/QXu6RG...,https://www.yelp.com/biz/joes-pizza-new-york-7...,1075,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.73331, 'longitude': -73.98763}","['delivery', 'pickup']","{'address1': '150 E 14th St', 'address2': '', ...",both
4,50037645,JOE'S PIZZA,Brooklyn,216,BEDFORD AVENUE,11249.0,Pizza,05/08/2023,Violations were cited in the following area(s).,02B,...,JOE'S PIZZA,https://s3-media4.fl.yelpcdn.com/bphoto/sUjegc...,https://www.yelp.com/biz/joes-pizza-new-york-1...,517,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.7101297729083, 'longitude': -7...","['delivery', 'pickup']","{'address1': '124 Fulton St', 'address2': '', ...",both

In [13]:
mdf['SCORE'].value_counts()

SCORE
12.0    92
13.0    76
64.0    50
27.0    41
10.0    35
9.0     35
18.0    30
7.0     18
11.0    17
0.0     16
2.0     14
6.0     13
5.0     10
3.0     10
16.0     8
24.0     8
4.0      7
8.0      7
21.0     6
37.0     5
30.0     5
23.0     4
19.0     3
22.0     3
20.0     3
Name: count, dtype: int64

In [14]:
mdf['GRADE'].value_counts()

GRADE
A    327
B    102
Z     65
C     11
P      7
N      4
Name: count, dtype: int64

## **Hypothesis Test 1:Try to find a correlation between scores on inspections and the ratings on Yelp**


 - The null hypothesis for this question would be that the restaurant inspection score and grade does not significantly affect the rating reviews on Yelp for pizza restaurants in Brooklyn NY.
 
  - The alternative hypothesis for this question would be that the restaurant inspection score and grade does affect the rating reviews on Yelp for the pizza restaurants in Brooklyn NY.

In [15]:
#Perform Pearson correlation test 
correlation, p_value = pearsonr(mdf['SCORE'], mdf['rating'])

#Print results
print(f'Correlation: {correlation:2f}')
print(f'P-value: {p_value:4f}')

#Check for significance based on the p-value
if p_value <0.05:
    print('The correlation is statistically significant.')
else:
    print('There is no signficant correlation.')

Correlation: 0.154898
P-value: 0.000413
The correlation is statistically significant.